<%- include('./partials/header'); %>


<div class="page-content">
    <div class="form-v8-content">

        <div class="form-right">
            <div class="tab">
                <div class="tab-inner">
                    <button class="tablinks" onclick="openCity(event, 'sign-in')"id="defaultOpen">Sign In</button>
                </div>
                <div class="tab-inner">
                    <button class="tablinks" onclick="openCity(event, 'sign-up')" >Sign Up</button>
                </div>
                
            </div>
            <form class="form-detail" action="/users/signUp" method="post">
                <div class="tabcontent" id="sign-up">
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="text" name="userName" id="full_name" class="input-text" required>
                            <span class="label">Username</span>
                              <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="text" name="mail" id="your_email" class="input-text" required>
                            <span class="label">E-Mail</span>
                              <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="password" name="password" id="password" class="input-text" required>
                            <span class="label">Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="password" name="confirm_password" id="confirm_password" class="input-text" required>
                            <span class="label">Confirm Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" id="btnSubmit" value="Register">
                    </div>
                </div>
            </form>
            <form class="form-detail" action="/users/signIn" method="post">
                <div class="tabcontent" id="sign-in">
                    
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="text" name="mail" id="your_email_1" class="input-text" required>
                            <span class="label">E-Mail</span>
                              <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="form-row-inner">
                            <input type="password" name="password" id="password_1" class="input-text" required>
                            <span class="label">Password</span>
                            <span class="border"></span>
                        </label>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" name="register" class="register" value="Sign In">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<%- include('./partials/footer'); %>